NEXT_PUBLIC_GRAPHQL_API_URL=https://api.dev.optimap.id/graphql
NEXT_PUBLIC_REST_API_URL=https://api.dev.optimap.id/v1
NEXT_PUBLIC_IMAGE_DOMAIN=api.dev.optimap.id
NEXT_PUBLIC_URL=http://localhost:3000
NEXTAUTH_SECRET=4VBM5yf+McPSCmvIKPyK/0rN5muj1rTLa2cGXQrrQkE=
NEXTAUTH_JWT_SECRET=NjnyAPWZbL3lygELK5l22fQDiHWp/MMNuiFPBP/oEaI=
NEXTAUTH_URL=http://localhost:3000
SENTRY_IGNORE_API_RESOLUTION_ERROR=1




# # Sentry
# # @see https://docs.sentry.io/platforms/javascript/guides/nextjs/manual-setup/
# SENTRY_DSN=
# # get the values here https://docs.sentry.io/platforms/javascript/guides/nextjs/manual-setup/#configure-sentry-cli
# SENTRY_URL=
# SENTRY_ORG=
# SENTRY_PROJECT=
# # get the auth token here https://sentry.io/settings/account/api/auth-tokens/
# SENTRY_AUTH_TOKEN=
# # if you get an an error that the file could not be found, note that this is a
# # false-positive error
# # @see https://github.com/getsentry/sentry-docs/issues/3721
# # @see https://github.com/getsentry/sentry-javascript/issues/3691#issuecomment-868377000
# SENTRY_SERVER_INIT_PATH=.next/server/sentry/initServerSDK.js  

